body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* TOP BAR */

header > .topBar-Sam {
  height: 100px;
  width: 100%;
  margin: 0px auto;
  background: #35194d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT TOPBAR - ICONS  */
header > .topBar-Sam > .menu-icons {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 30px;
}

header > .topBar-Sam > .menu-icons > .menu-icons-user {
  display: flex;
  line-height: 35px;
  margin-right: 15px;
}
header > .topBar-Sam > .menu-icons > .menu-icons-icon:hover {
  cursor: pointer;
  color: #92999f;
}

header > .topBar-Sam > .menu-icons > .menu-icons-user > span {
  margin-right: 10px;
}

header > .topBar-Sam > .menu-icons > .menu-icons-user > span > svg {
  width: 14px;
}
header > .topBar-Sam > .menu-icons > .menu-icons-user > .borderSpan {
  /* padding: 10px; */
  border: 1px solid white;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > .topBar-Sam > .menu-icons > .menu-icons-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
header > .topBar-Sam > .menu-icons > .menu-icons-icon > span {
  margin-right: 15px;
}

header > .topBar-Sam > .menu-icons > .menu-icons-icon > span > svg {
  width: 20px;
}

header > .topBar-Sam > .menu-icons > .menu-icons-icon > span > img {
  width: 30px;
}

/* MIDDLE TOPBAR - MENU ITEMS */
header > .topBar-Sam > .menu-items {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > .topBar-Sam > .menu-items > .item {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #92999f;
  font-weight: 500;
  font-size: 17px;
}
header > .topBar-Sam > .menu-items > .item:hover {
  color: white;
  cursor: pointer;
}

header > .topBar-Sam > .menu-items > .item > svg {
  width: 20px;
  margin: 0px 10px;
}

/* LEFT TOPBAR - MENU RIGHT ICON */
header > .topBar-Sam > .menu-right-icon {
  width: 10%;
  display: flex;

  justify-content: center;
  align-items: center;
}
header > .topBar-Sam > .menu-right-icon > .hamburger {
  display: none;
}

header > .topBar-Sam > .menu-right-icon > .hamburger > svg:hover,
header > .topBar-Sam > .menu-right-icon > .menuCube > svg:hover {
  cursor: pointer;
  color: white;
}
header > .topBar-Sam > .menu-right-icon > .hamburger > svg {
  width: 25px;
  color: white;
}

header > .topBar-Sam > .menu-right-icon > .menuCube > svg {
  width: 25px;
  color: #ada5e2;
  /* fill: #ada5e2; */
}

/* MOBILE VIEW */
@media (max-width: 768px) {
  header > .topBar-Sam > .menu-items {
    display: none;
  }

  header > .topBar-Sam > .menu-icons > .menu-icons-user {
    margin-left: 90px;
  }

  header > .topBar-Sam > .menu-icons > .menu-icons-user > .user1 {
    display: none;
  }

  header > .topBar-Sam > .menu-right-icon {
    margin-right: 30px;
  }

  header > .topBar-Sam > .menu-right-icon > .hamburger {
    display: block;
  }
  header > .topBar-Sam > .menu-right-icon > .hamburger {
    margin-right: 15px;
  }
}

/* TABLET VIEW */
@media (max-width: 1024px) {
  header > .topBar-Sam > .menu-items {
    display: none;
  }

  header > .topBar-Sam > .menu-icons > .menu-icons-user {
    margin-left: 100px;
  }

  header > .topBar-Sam > .menu-icons > .menu-icons-user > .user1 {
    display: none;
  }

  header > .topBar-Sam > .menu-right-icon > .hamburger {
    display: block;
  }
  header > .topBar-Sam > .menu-right-icon {
    margin-right: 35px;
  }
  header > .topBar-Sam > .menu-right-icon > .hamburger {
    margin-right: 25px;
  }
}

/* SECTION TWO */
main {
  background-color: #f9f6fa;
}
main > .sectionTwo {
  display: flex;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  padding: 50px 0px;
  /* height: 600px; */
}
@media (max-width: 768px) {
  main > .sectionTwo {
    flex-direction: column;
  }
}

/* Best Selling Product */

main > .sectionTwo > .best-selling-product {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid #f9f6fa;
  border-radius: 20px;
}

main > .sectionTwo > .best-selling-product > .products-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  font-size: 18px;
}

main
  > .sectionTwo
  > .best-selling-product
  > .products-title
  > .products-arrows {
  display: flex;
}
main
  > .sectionTwo
  > .best-selling-product
  > .products-title
  > .products-arrows
  > span {
  margin: 0px 15px;
}

main > .sectionTwo > .best-selling-product > .products {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px;
}
/* MOBILE */
@media (max-width: 768px) {
  main > .sectionTwo > .best-selling-product > .products {
    flex-direction: column;
    padding: 0px;
  }

  main > .sectionTwo > .best-selling-product > .products-title {
    justify-content: center;
  }
}

main > .sectionTwo > .best-selling-product > .products > .best-product1,
main > .sectionTwo > .best-selling-product > .products > .best-product2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #f9f6fa;
  border-radius: 15px;
  padding: 55px 0px;
}

@media (max-width: 768px) {
  main > .sectionTwo > .best-selling-product > .products > .best-product2 {
    display: none;
  }
}

main > .sectionTwo > .best-selling-product > .products > .best-product1 {
  flex: 1;
}
.content {
  font-size: 19px;
  text-align: center;
  font-weight: 500;
}

.dollars {
  font-size: 20px;
  font-weight: 600;
}
del {
  font-size: 17px;
  color: #92999f;
  font-weight: 400;
}
.orderNow {
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  background: #776acf;
  border-radius: 8px;
}
.orderNow:hover {
  background-color: #ada5e2;
  color: red;
}
main > .sectionTwo > .best-selling-product > .products > .best-product2 {
  flex: 1;
}

/* Product Tracking */
main > .sectionTwo > .product-tracking {
  flex: 1;
  background-color: white;
  border: 2px solid #f9f6fa;
  border-radius: 15px;
  padding: 20px;
  height: 550px;
}
table th {
  font-size: 18px;
  padding: 5px 0px;
}

table tbody td {
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px;
}

.tracking-icons {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #776acf;
  margin-left: 10px;
}
table svg {
  width: 30px;
  color: white;
}
/* Sales By Social */
main > .sectionTwo > .sales-by-social {
  flex: 1;

  background-color: white;
  border: 2px solid #f9f6fa;
  border-radius: 15px;
  padding: 20px;
  height: 450px;
}
.rating {
  background-color: #76cea9;
  color: white;
  width: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 2px;
  font-size: 12px;
}
.arrow-upward svg {
  width: 12px;
  margin-left: 2px;
}
.socials-icons {
  font-size: 45px;
}

.sales-by-social tr {
  padding: 5px 0px;
}
